snippet 480Head
-------------------------------------------------------------------------------
* Author: 	${1:Joel Gurnett}
* Subject: 	${2:Network Security - cmpt 480}
* Date:		${3:`date +%Y/%m/%d ` `date +%X`}
-------------------------------------------------------------------------------

$0
endsnippet

snippet 209Head
-------------------------------------------------------------------------------
* Author: 	${1:Joel Gurnett}
* Subject: 	${2:European History - hist 209}
* Date:		${3:`date +%Y/%m/%d ` `date +%X`}
-------------------------------------------------------------------------------

$0
endsnippet

snippet 261Head
-------------------------------------------------------------------------------
* Author: 	${1:Joel Gurnett}
* Subject: 	${2:Canadian History - hist 261}
* Date:		${3:`date +%Y/%m/%d ` `date +%X`}
-------------------------------------------------------------------------------

$0
endsnippet

snippet 201Head
-------------------------------------------------------------------------------
* Author: 	${1:Joel Gurnett}
* Subject: 	${2:Canadian Sociology - soci 201}
* Date:		${3:`date +%Y/%m/%d ` `date +%X`}
-------------------------------------------------------------------------------

$0
endsnippet